auto-save-list/
backups/
custom.el
eln-cache/
elpa/
eshell/
history
places*
projects*
recentf*
result
session.*
tramp
transient
url/
.emacs.desktop*
tree-sitter/
games/
bookmarks
user-lisp/.user-lisp-autoloads.el*
**/*.elc
forge-database.sqlite
/.agent-shell/
**/*.eld
/racket-mode/
/lisp/marginalia
/eca/
network-security.data
