[submodule "use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
